{% extends "base.html" %}
{% load static %}

{% block bodycontent %}


     <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>
                                Add New Location
                            </h3>
                        </div>

                        <div class="title_right">
                            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div id="location_div" class="row">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Add <small>Locations</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a href="#" class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Settings 1</a>
                                                </li>
                                                <li><a href="#">Settings 2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">

                                    <div id="basic_map" style="height: 600px;"></div>

                                    <h4>Location Details </h4>

                                    <form class="form-inline" method="post" action="/admin/add_new_location/">
                                        {% csrf_token %}
                                        <input  type="hidden"  autocomplete="off" id="l_coord" name="l_coord"class="form-control">
                                        <div class="form-group">
                                            <label>Area</label>
                                            <input type="text" name="area" id="area" class="form-control" placeholder=" ">
                                        </div>
                                        <div class="form-group">
                                            <label>City</label>
                                            <input type="text" id="city" name="city" class="form-control" placeholder=" ">
                                        </div>
                                        <div class="form-group">
                                            <label>State</label>
                                            <input type="text" id="state" name="state" class="form-control" placeholder=" ">
                                        </div>
                                        <button type="submit" class="btn btn-default">Save Location</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <br />
                        <br />
                        <br />

                    </div>
                </div>

                </div>
                <!-- /page content -->

{% endblock %}

{% block jscontent %}

    <script type="text/javascript">

        var map;
        var areaCoordinates = [];
        function initMap() {

            map = new google.maps.Map(document.getElementById('basic_map'), {
            center: {lat: 19.118371, lng: 72.907281},
            zoom: 12
            });

            var myPoly = new google.maps.Polygon({
            path: [],
            strokeColor: "#FF0000",
            strokeOpacity: 1.0,
            editable:true,
            draggable: true,
            strokeWeight: 2,
            map: map
            });

            myPoly.setMap(map);

            google.maps.event.addListener(myPoly.getPath(), 'set_at', function(){
              createPolygonList(myPoly.getPath());
            });
            google.maps.event.addListener(myPoly.getPath(), 'insert_at', function(){
              createPolygonList(myPoly.getPath());
            });
            google.maps.event.addListener(myPoly.getPath(), 'remove_at', function() {
                createPolygonList(myPoly.getPath());
            });
            google.maps.event.addListener(map, 'click', function(event) {
              areaCoordinates.push(event.latLng);
              myPoly.setPath(areaCoordinates);
              myPoly.setMap(map);
              createPolygonList(myPoly.getPath());
            });


            // function creates string to store in DataBase
            function createPolygonList(pathArray){
              var poly_list = "POLYGON((";
              for(i = 0 ; i < pathArray.getLength(); i++){
                poly_list = poly_list + pathArray.getAt(i).lat() + " " + pathArray.getAt(i).lng() + ",";
              }
              poly_list = poly_list + pathArray.getAt(0).lat() + " " + pathArray.getAt(0).lng() + "))";
              document.getElementById('l_coord').value=poly_list;
              return poly_list;
            }
        }

    </script>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2Nmj6XsKy_kRqiCZlZSFnNFqXhgxV-rc&callback=initMap">
    </script>


{% endblock %}