{% extends "base.html" %}
{% load static %}

{% block loggeduser %}
    {{ user.username }}
{% endblock %}

{% block bodycontent %}

    <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>
                                Places
                            </h3>
                        </div>

                        <div class="title_right">
                            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="row">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>All <small>Places</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a href="#" class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Settings 1</a>
                                                </li>
                                                <li><a href="#">Settings 2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <table id="example" class="table table-striped responsive-utilities jambo_table">
                                        <thead>
                                            <tr class="headings">
                                               <th>ID </th>
                                                <th>Name</th>
                                                <th> Image</th>
                                                <th>Is Active </th>
                                                <th>Locatiom </th>
                                                <th>category </th>
                                                <th class=" no-link last"><span class="nobr">Action</span>
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {% for p in places %}
                                                <tr class="even pointer">
                                                    <td style="vertical-align:middle"><b>{{ p.id }}</b></td>
                                                    <td style="vertical-align:middle">{{ p.name }}</td>
                                                    <td class=" "><a target="_blank" href="{{p.image}}" id="p_image{{ p.id }}"><img height="100" width="200" src="{{p.image}}"></a></td>
                                                    <td style="vertical-align:middle"><div class="checkbox">
                                                                            <label>
                                                                                <input {% if p.is_active %} checked {% endif %} type="checkbox" class="flat">
                                                                            </label>
                                                                        </div></td>
                                                    <td style="vertical-align:middle">{{ p.location.city }},{{ p.location.state}}</td>
                                                    <td style="vertical-align:middle">{{ p.category.name }}</td>
                                                    <td class=" last" style="vertical-align:middle"><a class="btn btn-success pull-right" href="/admin/edit_place/{{ p.id }}">View</a>
                                                    </td>
                                                </tr>
                                        {% endfor %}
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>

                        <br />
                        <br />
                        <br />

                    </div>
                </div>

                </div>
                <!-- /page content -->

{% endblock %}

{% block jscontent %}

    <script>
            $(document).ready(function () {
                $('input.tableflat').iCheck({
                    checkboxClass: 'icheckbox_flat-green',
                    radioClass: 'iradio_flat-green'
                });
            });

            var asInitVals = new Array();
            $(document).ready(function () {
                var oTable = $('#example').dataTable({
                    "oLanguage": {
                        "sSearch": "Search all columns:"
                    },
                    "aoColumnDefs": [
                        {
                            'bSortable': false,
                            'aTargets': [0]
                        } //disables sorting for column one
            ],
                    'iDisplayLength': 12,
                    "sPaginationType": "full_numbers",
                    "dom": 'T<"clear">lfrtip',
                    "tableTools": {
                        "sSwfPath": "<?php echo base_url('assets2/js/Datatables/tools/swf/copy_csv_xls_pdf.swf'); ?>"
                    }
                });
                $("tfoot input").keyup(function () {
                    /* Filter on the column based on the index of this element's parent <th> */
                    oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
                });
                $("tfoot input").each(function (i) {
                    asInitVals[i] = this.value;
                });
                $("tfoot input").focus(function () {
                    if (this.className == "search_init") {
                        this.className = "";
                        this.value = "";
                    }
                });
                $("tfoot input").blur(function (i) {
                    if (this.value == "") {
                        this.className = "search_init";
                        this.value = asInitVals[$("tfoot input").index(this)];
                    }
                });
            });

        </script>

{% endblock %}