{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TravelX | </title>

    <!-- Bootstrap core CSS -->

    <link href="{% static "assets/css/bootstrap.min.css" %}"rel="stylesheet">

    <link href="{% static "assets/fonts/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/animate.min.css" %}" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="{% static "assets/css/custom.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/icheck/flat/green.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/datatables/tools/css/dataTables.tableTools.css" %}" rel="stylesheet">


    <script src="{% static "assets/js/jquery.min.js" %}"></script>

</head>


<body class="nav-md">

    <div class="container body">

        <div class="main_container">

            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">

                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>TravelX</span></a>
                    </div>
                    <div class="clearfix"></div>

                    <!-- menu prile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img src="{% static "assets/travelxImages/icon.png" %}" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>
                                {% block loggeduser %}
                                {% endblock %}
                            </h2>
                        </div>
                    </div>
                    <!-- /menu prile quick info -->

                    <br>
                    <br>
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                        <div class="menu_section">
                            <ul class="nav side-menu">

                                <li><a href="/admin/home/"><i class="fa fa-home"></i> Home</a>
                                </li>
                                {% if perms.app.change_category %}
                                <li><a href="/admin/all_category/"><i class="fa fa-edit"></i>Category</a>
                                </li>
                                {% endif %}
                                <li><a href="/admin/all_places/"><i class="fa fa-desktop"></i>Places</a>
                                </li>
                                <li><a href="/admin/all_locations/"><i class="fa fa-desktop"></i>Locations</a>
                                </li>
                                <li><a href="/admin/all_booking/"><i class="fa fa-desktop"></i>Bookings</a>
                                </li>
                                <li><a href="/admin/all_logs/"><i class="fa fa-desktop"></i>Logs</a>
                                </li>
                                <li><a href="/admin/all_visitors/"><i class="fa fa-desktop"></i>Visitors</a>
                                </li>
                                <li><a href="/admin/send_notification/"><i class="fa fa-desktop"></i>Send Notification</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->

                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">

                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="images/img.jpg" alt="">John Doe
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                                    <li><a href="javascript:;">  Profile</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Help</a>
                                    </li>
                                    <li><a href="/admin/logout/"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                    </li>
                                </ul>
                            </li>

                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list animated fadeInDown" role="menu">
                                    <li>
                                        <a>
                                            <span class="image">
                                        <img src="images/img.jpg" alt="Profile Image" />
                                    </span>
                                            <span>
                                        <span>John Smith</span>
                                            <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where... 
                                    </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image">
                                        <img src="images/img.jpg" alt="Profile Image" />
                                    </span>
                                            <span>
                                        <span>John Smith</span>
                                            <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where... 
                                    </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image">
                                        <img src="images/img.jpg" alt="Profile Image" />
                                    </span>
                                            <span>
                                        <span>John Smith</span>
                                            <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where... 
                                    </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image">
                                        <img src="images/img.jpg" alt="Profile Image" />
                                    </span>
                                            <span>
                                        <span>John Smith</span>
                                            <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where... 
                                    </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a>
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>

            </div>
            <!-- /top navigation -->

            <!-- page content -->
                                {% block bodycontent %}
                                {% endblock %}


                <!--pagecontent-->
                <!-- footer content -->
                <footer>
                    <div class="">
                        <p class="pull-right">
                            <span class="lead"> <i class="fa fa-paw"></i> TravelX</span>
                            <div id="message" class="pull-right"></div>
                        </p>
                    </div>
{#                    {% if messages %}#}
{#                        <div class="">#}
{#                            {% for message in messages %}#}
{#                                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                    {% endif %}#}

                </footer>
                <!-- /footer content -->

            </div>
            <!-- /page content -->
        </div>

    </div>

    <div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
        </ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>

    <script src="{% static "assets/js/bootstrap.min.js" %}"></script>

    <!-- chart js -->
    <script src="{% static "assets/js/chartjs/chart.min.js" %}"></script>
    <!-- bootstrap progress js -->
    <script src="{% static "assets/js/progressbar/bootstrap-progressbar.min.js" %}"></script>
    <script src="{% static "assets/js/nicescroll/jquery.nicescroll.min.js" %}"></script>
    <!-- icheck -->
    <script src="{% static "assets/js/icheck/icheck.min.js" %}"></script>

    <script src="{% static "assets/js/custom.js" %}"></script>

    <!-- moris js -->
{#    <script src="{% static "assets/js/moris/raphael-min.js" %}"></script>#}
{#    <script src="{% static "assets/js/moris/morris.js" %}"></script>#}
{#    <script src="{% static "assets/js/moris/example.js" %}"></script>#}

    <script src="{% static "assets/js/datatables/js/jquery.dataTables.js" %}"></script>
    <script src="{% static "assets/js/datatables/tools/js/dataTables.tableTools.js"%}"></script>
    <script>
        {% if messages %}
            {% for message in messages %}
                $(document).ready(function() {
                    toastr.options = {
                      "closeButton": true,
                      "debug": true,
                      "newestOnTop": true,
                      "progressBar": false,
                      "positionClass": "toast-bottom-right",
                      "preventDuplicates": true,
                      "showDuration": "300",
                      "hideDuration": "1000",
                      "timeOut": "5000",
                      "extendedTimeOut": "1000",
                      "showEasing": "swing",
                      "hideEasing": "linear",
                      "showMethod": "fadeIn",
                      "hideMethod": "fadeOut"
                    }
                    toastr["{{ message.tags }}"]("{{ message }}")
                });
            {% endfor %}
        {% endif %}
    </script>

    {% block jscontent %}
    {% endblock %}

</body>

</html>