<div class="form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="text" id="cat_image" name="category_image" required="required" class="form-control col-md-3 col-xs-12" value="{{ image }}">
    </div>
     <a target="_blank" href="{{image}}" id="c_image"><img height="250" width="400" src="{{image}}"></a>
</div>
<br>
<div class="form-group">
    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-6">
        <button type="button" onclick="refresh_image()" class="btn btn-success">Save</button>
    </div>
</div>