<div class="x_panel">
    <div class="x_content">

        <table class="table">
            <thead>
                <tr>
                    <th style="align:center">Image</th>
                    <th style="align:center">Link</th>
                    <th style="align:center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a target="_blank" href="{{place.image}}" id="p_image"><img height="250" width="400" src="{{place.image}}"></a></td>
                    <td class="col-md-6" style="vertical-align: middle"><input type="text" id="place_image" name="place_image" required="required" class="form-control col-md-3 col-xs-12" value="{{ place.image }}"></td>
                    <td style="vertical-align: middle"><button type="button" onclick="refresh_image()" class="btn btn-success">Save</button></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>