<div>
    {% for g in place.gallery.all %}
    <div href="{{ g.image_link }}" class="col-md-55">
        <div class="thumbnail">
            <div class="image view view-first">
                <img style="width: 100%;height: 100%; display: block;" src="{{ g.image_link }}" alt="image" />
                <div class="mask">
                    <p>Your Text</p>
                    <div class="tools tools-bottom">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
            <div class="caption">
                <p>{{ g.short_description }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>